header {
  display: flex;
  justify-content: space-between;
  background-color: #87ceeb;
  padding: 1rem 2rem;
  margin-top: -1rem;
  margin-left: -1rem;
  margin-right: -1rem;
}

header h2 {
  color: white;
  padding: 0rem 2rem;
}

#login {
  background-color: #87ceeb;
  color: white;
  padding: 0.5rem 2rem;
  border: 2px white solid;
  border-radius: 8px;
  font-size: 18px;
}

#login:hover {
  background-color: #38aede;
}

#createBook,
.book {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #87ceeb;
  width: 15%;
  height: 16rem;
  padding: 1rem;
  margin: 2rem;
  border: 4px #add8e6 solid;
  border-radius: 8px;
}

#books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book {
  background-color: #f1d6e0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}
